body,
html {
    height: 100%;
    background: #f0f0f0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;

}

#navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    color: #F0F0F0;
    z-index: 10;
    top: -100px;

}

#navbar-container {
    flex-flow: row;
    color: #F1F1F1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 45px 15%;
    position: relative;

    width: 70%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

#navbar-container > div {
    flex: auto;
    flex-basis: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;

}

#main {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

}

#colored_pane {
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(13, 178, 246, 0);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(13, 178, 246, 0);
    box-shadow: inset 0px 0px 0px 0px rgba(13, 178, 246, 0);
}

#main_video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 75%;
    overflow: hidden;
}

#logo {
    max-width: 30%;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#main-border {
    border-radius: 100%/0 0 0px 0px;
    position: absolute;
    width: 150%;
    height: 100%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, -0%);

}

.page-block {
    position: relative;
    min-height: 40%;
    padding: 30px 12.5%;

}

#footer {
    background: #111;
    height: 350px;
    position: relative;
    padding: 30px 12.5%;

}

#footer-container {
    display: flex;
    flex-flow: row;
    position: relative;
    color: #F1F1F1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    height: 100%;
}


#footer-logo {
    width: 75%;
    margin: 0 auto;
    display: block;
    filter: invert(1) sepia(0) saturate(0) hue-rotate(0deg);
}

.footer-cell {
    flex: auto;
    flex-basis: 0;

    font-family: 'Roboto', sans-serif;

}

.footer-cell > ul {
    list-style: none;
    padding: 0;
}

.footer-cell > ul > li {
    padding: 0;
    margin: 5px 0px;
    color: #8a8a8a;
    font-size: 18px;
}

.footer-cell > h3 {
    position: absolute;
    top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.icons {
    font-size: 30px;
    margin: 10px;
}

#icons {
    margin: auto 0;
    display: block;
}


@media (min-width: 900px) {
    .background {
        padding: 0 0 25px;
    }
}

.container {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 960px;
    width: 100%;
    opacity: 1;
    margin-top: 0;
    transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
}

.container.hidden-panel {
        opacity: 0;
    margin-top: 50px;
    transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
}

.panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .pricing-table {
        flex-direction: row;
    }
}

.pricing-table * {
    text-align: center;
    text-transform: uppercase;
    list-style: none;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
}

.pricing-plan:last-child {
    border-bottom: none;
}

@media (min-width: 900px) {
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        flex-basis: 100%;
        padding: 25px 50px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 110px;
}
.pricing-img svg  {
    fill: rgba(13, 178, 246, 1) !important;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    color: #016FF9;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
    padding: 0;
}

.pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #e1f1ff;
}

.pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
    background-color: #269aff;
}
